@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Roboto:wght@500&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --primary-text-color: #183b56;
    --secondary-text-color: #577592;
    --accent-color: #2294ed;
    --accent-color-dark: #1d69a3;
}

body {
    font-family: "Poppins", sans-serif;
    color: var(--primary-text-color);
}

p {
    font-family: "Roboto", sans-serif;
    color: var(--secondary-text-color);
    line-height: 1.4rem;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.flex {
    display: flex;
    align-items: center;
}

.container {
    max-width: 1180px;
    margin-inline: auto;
    overflow: hidden;
}

nav {
    background-color: #f3faff;
    box-shadow: 0 0 4px #bbd0e2;
    position: fixed;
    top: 0;
    z-index: 99;
    left: 0;
    right: 0;
}

.main-nav {
    justify-content: space-between;
    padding-block: 8px;
}

.company-logo h2 {
        color: red;
        font-size: 20px;
        
}

.nav-links ul {
    gap: 16px;
}

.hover-link {
    cursor: pointer;
}

.hover-link:hover {
    color: var(--secondary-text-color);
}

.hover-link:active {
    color: red;
}

.nav-item.active {
    color: var(--accent-color);
}

.search-bar {
    height: 32px;
    gap: 8px;
}

.news-input {
    width: 200px;
    height: 100%;
    padding-inline: 12px;
    border-radius: 4px;
    border: 2px solid #bbd0e2;
    font-family: "Roboto", sans-serif;
}

.search-button {
    background-color: var(--accent-color);
    color: white;
    padding: 8px 24px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: "Roboto", sans-serif;
}

.search-button:hover {
    background-color: var(--accent-color-dark);
}

main {
    padding-block: 20px;
    margin-top: 50px;
}

.cards-container {
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 20px;
    align-items: start;
}

.card {
    width: 360px;
    min-height: 400px;
    box-shadow: 0 0 4px #d4ecff;
    border-radius: 4px;
    cursor: pointer;
    background-color: #fff;
    overflow: hidden;
    transition: all 0.3s ease;
}

.card:hover {
    box-shadow: 1px 1px 8px #d4ecff;
    background-color: #f9fdff;
    transform: translateY(-2px);
}

.card-header img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.card-content {
    padding: 12px;
}

.news-source {
    margin-block: 12px;
}

.toggle-btn{
        color: white;
        font-size: 1.5rem;
        cursor: pointer;
        display: none;
}

.dropdown_menu{
    display: none;

    height: 0;
    position: absolute;
    /* margin: 10px 10px 10px 10px; */
    /* right: 2rem; */
    top: 60px;
    width: 100%;
    /* background: rgba(31, 8, 8, 0.1); */
    backdrop-filter: blur(100px);
    border-radius: 10px;
    overflow: hidden;
    color: rgb(20, 1, 1);
    /* background-color: rgb(65, 64, 64); */
    
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu.open{
    height: 300px;
}

.dropdown_menu li{
    margin-left: 40px;
    margin-top: 60px;
    padding: 0.7rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.dropdown_menu .search-bar{
    margin-top: 30px;
    gap: 15px;
    display: flex;
    flex-direction: column;
}

@media only screen and (max-width: 768px) {
        main{
                margin-left: 25px;
                margin-right: 20px;
        }

        h2{
                margin-left: 28px;
        }

        ul li, .search-bar{
                display: none;
        }

        .toggle-btn{
                margin-right: 20px;
                display: block;
                color: black;
                font-size: 1.5rem;
                cursor: pointer;
        }

        .dropdown_menu{
            top: 0;
            position: fixed;
            display: block;
        }
}

